body{
    background-image:url(animated-disney-castle-has6vy47k75d0bzs.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    font-family: waltograph;
    color: white;
    font-size: 5rem;
    padding-left: 170px;
    padding-top: 15px;
}
.carddd{
    padding-left: 620px;
    padding-top: 100px;
}
